*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.global-container{
    background-color: gray;
    height: 1000px;
}
.header-container{
    background-color: white;
    line-height:50px;


}
.inline{
    display: inline-block;
}
.header-title{
    display: inline-block;
    vertical-align: center;
   
}
.main-container{
    height: 500px;
    width: 500px;
    background-color: lightblue;
    margin: 30px auto;

}
.nav-main{
    height: 30px;
    background-color: lightcoral;
}

#buttonmain{
    margin-left: 20px;
}
.main-button{
    margin:5px 0 ;
    border: 1px solid black;
    border-radius: 5px
}
.list-battom{
    background-color: yellow;
    border-radius: 5px;
    padding: 1px;
    margin: 50spx;
}
li{
    list-style-position: inside;
    list-style-type: none;
}